
* {
    box-sizing: border-box;
}



.search-input {
    font-size: 20px;
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;
    margin: 3px;
    padding: 10px;
    border-radius: 4px;
    background: url(../img/nav-search_icon.png) no-repeat;
    background-size: 38px 38px;
    background-position: 99% 50%;
}



.client-block {
    font-size: 15px;
    width: 400px;
    height: 142px;
    border: 1px solid #ccc;
    margin: 3px;
    padding: 6px 6px 0 6px;
    border-radius: 4px;
}

.client-block-avatar {
    width: 128px;
    height: 128px;
    /* border: 1px solid #ccc; */
    float: left;
}

.client-block-inf {
    width: 250px;
    height: 128px;
    border: 1px solid #ccc;
    float: right;
}
.client-block-inf h3 {
    font-size: 32px;
    margin-bottom: 5px;
}
